
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    color: none !important;
    background-color:transparent !important;
}
.navbar-default .navbar-nav>li>a
{
    color: none !important
}

.has-error .form-control
{
    border-color: #a94442 !important;
}
.btn-primary
{
    background: #ff7e00 !important;
    border-radius: 3px;
    margin-top: 10px;
    padding: 10px 20px 10px;
    font-size: 13px;
    color: #fff !important;
    margin-top: 3px;
    border:1px solid #ccc;
    outline: none !important;
    display: inline-block;
    cursor: pointer ;
}